<?xml version="1.0"?>
<config>
    <modules>
        <Blueripples_Slideshow>
            <version>1.0.3</version>
        </Blueripples_Slideshow>
    </modules>
    <frontend>
        <routers>
            <slideshow>
                <use>standard</use>
                <args>
                    <module>Blueripples_Slideshow</module>
                    <frontName>brslides</frontName>
                </args>
            </slideshow>
        </routers>
      </frontend>
	<adminhtml>
		<layout>
			<updates>
				<slideshow>
					<file>slideshow.xml</file>
				</slideshow>
			</updates>
		</layout>
	</adminhtml>
    <global>
        <models>
            <slideshow>
                <class>Blueripples_Slideshow_Model</class>
                <resourceModel>slideshow_mysql4</resourceModel>
            </slideshow>
            <slideshow_mysql4>
                <class>Blueripples_Slideshow_Model_Mysql4</class>
                <entities>
                    <slideshow>
                        <table>slideshow</table>
                    </slideshow>
                </entities>
            </slideshow_mysql4>
        </models>
        <resources>
            <slideshow_setup>
                <setup>
                    <module>Blueripples_Slideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slideshow_setup>
            <slideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slideshow_write>
            <slideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slideshow_read>
        </resources>
        <blocks>
            <slideshow>
                <class>Blueripples_Slideshow_Block</class>
            </slideshow>
        </blocks>
        <helpers>
            <slideshow>
                <class>Blueripples_Slideshow_Helper</class>
            </slideshow>
        </helpers>
    </global>
	<default>
		<slideshow>
			<general>
			    <enable>0</enable>
				<width>900</width>
				<height>320</height>
				<pause_on_click>false</pause_on_click>
				<portrait>false</portrait>
				<thumbnails>false</thumbnails>
				<bar_position>bottom</bar_position>
				<skin>camera_grey_skin</skin>
			</general>
            <advance>
			    <overlayer>false</overlayer>
				<cols>6</cols>
				<rows>4</rows>	
				<sliced_cols>0</sliced_cols>
				<sliced_rows>0</sliced_rows> 
				<time>5000</time>
			    <trans_period>3000</trans_period>
				<grid_difference>1500</grid_difference> 
				<fx>random</fx>					
            </advance>
            <loader>
				<loader_color>CCCCCC</loader_color>
				<loader_bg_color>222222</loader_bg_color>
				<loader_opacity>0.8</loader_opacity>
				<loader_padding>2</loader_padding>
				<loader_stroke>7</loader_stroke>			
            </loader>
            <title>
			    <enable_title>1</enable_title>					
				<width_title>22</width_title>
				<height_title>65</height_title>
				<margin_title>1</margin_title>							
				<fx_title>fadeFromLeft</fx_title>						
				<title_bg_color>208510</title_bg_color>
				<font_color_title>FFFFFF</font_color_title>
				<font_size_title>22</font_size_title>	
				<opacity_title>0.9</opacity_title>
				<border_radius_title>20</border_radius_title>			
            </title>
            <description>
			    <enable_description>1</enable_description>					
				<width_description>40</width_description>
			    <height_description>35</height_description>
				<margin_description>1</margin_description>						
				<fx_description>fadeFromRight</fx_description>						
				<description_bg_color>FFFFFF</description_bg_color>
				<font_color_description>2AB516</font_color_description>			
				<font_size_description>12</font_size_description>
				<opacity_description>0.9</opacity_description>
				<border_radius_description>20</border_radius_description>			
            </description>					
		</slideshow>
	</default>
    <admin>
        <routers>
            <slideshow>
                <use>admin</use>
                <args>
                    <module>Blueripples_Slideshow</module>
                    <frontName>brslides</frontName>
                </args>
            </slideshow>
        </routers>
    </admin>
</config>